<p>
  Quadcopters have different flight mechanics than conventional aircraft such as airplanes and helicopters. They are considered Vertical Take Off and Landing (VTOL) aircrafts, similar to helicopters.
  However unlike Helicopters, Quadcopters and other multi-rotor aircraft rely on four or more rotors that act together to tilt the entire aircraft to perform pitch and roll changes.
  The motors are controlled by the on board flight controller, analyzing stats such as: current attitude, wind conditions, using various onboard sensors as well as manual pilot controls.
  To control the direction and flight speed the aircraft is tilted in various directions. The steeper of the tilt angle, the faster the aircraft will travel in that direction.
  As well, this must be balanced with stability; too steep of an angle and the aircraft can flip and crash. If the angle isn't large enough, then the aircraft can move too slowly.
</p>