<p>
  Many companies are starting to offer an array of services that quad copters and other such drones can accomplish easily.
  One such company is Majestic Aerial Video who offer photos and videos taken by a drone.As well bigger companies are starting
  to offer other commercial uses such as Amazon’s Prime Air, which is to be put in use in the future, offer a faster way to
  deliver packages using an unmanned drone.As well, a company named Fly4Me has opened it services offering various information
  largely available through drones.The services offered include, personalized videos using drones, mapping, and inspections and
  disaster relief.
</p>