<p>In the Educational Field drones allow for more versatility in many different school projects and programs. It allows for mapping, and gathering data of places that
  otherwise are inhospitable such as rainforest canopies and lava flows. It allows for people to study wildlife from a distance without getting hurt, as well as
  archaeological and architectural mapping. As well drones themselves form a variety of different teaching opportunities from aerospace engineering , to mechanical engineering
  from the actual construction and aerodynamics of the drone that you will use, i.e quadcopter, hexacopter. Programming is also taught  when you try to make the drone move,
  be it autonomously or with a controller.
</p>