
<div class="predator"></div>
<div class="satellite"></div>
<div class="weather"></div>

<div class="container" id="nopadding">
  <p>
    <%= image_tag "alts.png", class: "tempimg"%>
    Nowadays UAS drones come in different models; multi-rotor, planes, hybrids. Each of these with an almost infinite amount of designs and uses.
    Some of the more notable uses of drones are delivering medical supplies to inaccessible areas, surveying of land / crops, and inspecting utility lines.
    Giving drones very a very high standing in both Industial and Reacatonal uses making it a booming market. The sky is the limit with drones pun intended.
  </p>
</div>
<div class="division1">
  <%= image_tag "temp.png", class: "tempimg"%>
  <h1 class="inline" id="div1">Commercial</h1>
  <p id="div1info">
    Many companies are starting to offer an array of services that quad copters and other such drones can accomplish easily. Some examples include but are not limited to:
  </p>
  <ul class="drone" id="div1info">
    <li>Majestic Aerial Video, who offer photos and videos taken by a drone.</li>
  </ul>
  <ul class="drone" id="div1info">
    <li>Amazon’s Prime Air, which is to be put to use in the future, offers a faster way to
      deliver packages using an unmanned drone.</li>
  </ul>
  <ul class="drone" id="div1info">
  <li> A company named Fly4Me has opened its services offering different types of information
    largely available through the use of drones. The services offered include, personalized videos, mapping, inspections and
    disaster relief.</li>
   </ul>
</div>
<div class="container" id="nopadding">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor est nec mattis iaculis. Sed finibus lorem in euismod blandit. Curabitur consequat a odio quis mattis. Morbi rhoncus ex dui, a dapibus est viverra eget. Integer pretium pharetra ultrices. Nunc at augue et magna sagittis aliquet eget nec dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum pharetra ultricies ante, non commodo dolor molestie sed.

    Etiam auctor euismod ex, ut pulvinar lacus condimentum in. Curabitur vulputate, mauris vitae pulvinar ultricies, ipsum erat lobortis magna, sit amet bibendum ante ligula in arcu. In sit amet laoreet augue. Donec vel ipsum lacinia, blandit mauris sed, luctus odio. Etiam sed ex a lacus aliquam pharetra. Ut tincidunt lacus ac tortor consequat, a sollicitudin turpis rhoncus. Praesent nec ipsum hendrerit, semper enim vitae, suscipit ante. Pellentesque efficitur est dignissim, pellentesque purus ac, maximus mi. In nisl orci, porta ultricies cursus vel, tempor id tortor. Etiam commodo, risus at euismod dapibus, leo nibh iaculis sem, vitae commodo mi nisi et purus. Sed sodales in libero non sodales. Aenean porta lorem leo, ac vehicula arcu viverra non. Morbi eget ipsum ante. Vestibulum sit amet purus a sapien lacinia ultricies at vitae elit.

    Sed turpis odio, auctor sit amet ex a, dignissim cursus metus. Cras eu eros sit amet nisl ultricies imperdiet in pretium metus. Sed efficitur turpis rutrum accumsan mattis. Phasellus id diam ac nibh lobortis fermentum at ut nisl. Sed non lacinia justo. Proin sed sollicitudin eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.

    Maecenas luctus aliquam magna, vel eleifend purus scelerisque sit amet. Sed et ex scelerisque, ullamcorper neque luctus, faucibus augue. Nulla ornare aliquam sapien eu ornare. Praesent vitae nulla fringilla, tempor lacus ac, malesuada nisl. Aliquam a nisl vitae ex placerat interdum et vitae ligula. Aliquam ullamcorper, erat sed viverra mattis, tortor nunc faucibus mi, id placerat sapien libero sit amet dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum nunc leo, dapibus vel iaculis vel, blandit hendrerit est. Cras finibus vulputate ligula sed rhoncus.

    Etiam dolor quam, pellentesque at justo nec, interdum vestibulum elit. Morbi dapibus eu turpis in iaculis. Ut ornare nec orci vel pharetra. Praesent ac accumsan tellus, in tincidunt ante. Fusce dolor purus, pretium eu viverra sed, semper nec ante. Pellentesque et aliquet velit, eget elementum augue. Etiam nec ipsum egestas, laoreet nisl quis, aliquet nisl. Nulla vel vestibulum urna. Sed pellentesque erat elit, sed semper nulla efficitur eu. Vivamus sed augue eu dolor fringilla bibendum. Nunc non nisi non nulla condimentum euismod a vitae eros. Pellentesque metus sem, interdum id interdum ac, efficitur in magna. Aliquam varius lorem at leo aliquet commodo. In nibh est, placerat in iaculis in, iaculis ac tortor. Sed vel dolor at diam ullamcorper malesuada. Sed porta enim id nulla tincidunt, sed lobortis erat tristique.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor est nec mattis iaculis. Sed finibus lorem in euismod blandit. Curabitur consequat a odio quis mattis. Morbi rhoncus ex dui, a dapibus est viverra eget. Integer pretium pharetra ultrices. Nunc at augue et magna sagittis aliquet eget nec dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum pharetra ultricies ante, non commodo dolor molestie sed.

    Etiam auctor euismod ex, ut pulvinar lacus condimentum in. Curabitur vulputate, mauris vitae pulvinar ultricies, ipsum erat lobortis magna, sit amet bibendum ante ligula in arcu. In sit amet laoreet augue. Donec vel ipsum lacinia, blandit mauris sed, luctus odio. Etiam sed ex a lacus aliquam pharetra. Ut tincidunt lacus ac tortor consequat, a sollicitudin turpis rhoncus. Praesent nec ipsum hendrerit, semper enim vitae, suscipit ante. Pellentesque efficitur est dignissim, pellentesque purus ac, maximus mi. In nisl orci, porta ultricies cursus vel, tempor id tortor. Etiam commodo, risus at euismod dapibus, leo nibh iaculis sem, vitae commodo mi nisi et purus. Sed sodales in libero non sodales. Aenean porta lorem leo, ac vehicula arcu viverra non. Morbi eget ipsum ante. Vestibulum sit amet purus a sapien lacinia ultricies at vitae elit.

    Sed turpis odio, auctor sit amet ex a, dignissim cursus metus. Cras eu eros sit amet nisl ultricies imperdiet in pretium metus. Sed efficitur turpis rutrum accumsan mattis. Phasellus id diam ac nibh lobortis fermentum at ut nisl. Sed non lacinia justo. Proin sed sollicitudin eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.

    Maecenas luctus aliquam magna, vel eleifend purus scelerisque sit amet. Sed et ex scelerisque, ullamcorper neque luctus, faucibus augue. Nulla ornare aliquam sapien eu ornare. Praesent vitae nulla fringilla, tempor lacus ac, malesuada nisl. Aliquam a nisl vitae ex placerat interdum et vitae ligula. Aliquam ullamcorper, erat sed viverra mattis, tortor nunc faucibus mi, id placerat sapien libero sit amet dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum nunc leo, dapibus vel iaculis vel, blandit hendrerit est. Cras finibus vulputate ligula sed rhoncus.

    Etiam dolor quam, pellentesque at justo nec, interdum vestibulum elit. Morbi dapibus eu turpis in iaculis. Ut ornare nec orci vel pharetra. Praesent ac accumsan tellus, in tincidunt ante. Fusce dolor purus, pretium eu viverra sed, semper nec ante. Pellentesque et aliquet velit, eget elementum augue. Etiam nec ipsum egestas, laoreet nisl quis, aliquet nisl. Nulla vel vestibulum urna. Sed pellentesque erat elit, sed semper nulla efficitur eu. Vivamus sed augue eu dolor fringilla bibendum. Nunc non nisi non nulla condimentum euismod a vitae eros. Pellentesque metus sem, interdum id interdum ac, efficitur in magna. Aliquam varius lorem at leo aliquet commodo. In nibh est, placerat in iaculis in, iaculis ac tortor. Sed vel dolor at diam ullamcorper malesuada. Sed porta enim id nulla tincidunt, sed lobortis erat tristique.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor est nec mattis iaculis. Sed finibus lorem in euismod blandit. Curabitur consequat a odio quis mattis. Morbi rhoncus ex dui, a dapibus est viverra eget. Integer pretium pharetra ultrices. Nunc at augue et magna sagittis aliquet eget nec dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum pharetra ultricies ante, non commodo dolor molestie sed.

    Etiam auctor euismod ex, ut pulvinar lacus condimentum in. Curabitur vulputate, mauris vitae pulvinar ultricies, ipsum erat lobortis magna, sit amet bibendum ante ligula in arcu. In sit amet laoreet augue. Donec vel ipsum lacinia, blandit mauris sed, luctus odio. Etiam sed ex a lacus aliquam pharetra. Ut tincidunt lacus ac tortor consequat, a sollicitudin turpis rhoncus. Praesent nec ipsum hendrerit, semper enim vitae, suscipit ante. Pellentesque efficitur est dignissim, pellentesque purus ac, maximus mi. In nisl orci, porta ultricies cursus vel, tempor id tortor. Etiam commodo, risus at euismod dapibus, leo nibh iaculis sem, vitae commodo mi nisi et purus. Sed sodales in libero non sodales. Aenean porta lorem leo, ac vehicula arcu viverra non. Morbi eget ipsum ante. Vestibulum sit amet purus a sapien lacinia ultricies at vitae elit.

    Sed turpis odio, auctor sit amet ex a, dignissim cursus metus. Cras eu eros sit amet nisl ultricies imperdiet in pretium metus. Sed efficitur turpis rutrum accumsan mattis. Phasellus id diam ac nibh lobortis fermentum at ut nisl. Sed non lacinia justo. Proin sed sollicitudin eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.
  </p>
</div>
<div class="division1">
  <%= image_tag "temp.png", class: "tempimg"%>
  <h1 class="inline" id="div1">Commercial</h1>
  <p id="div1info">
    Many companies are starting to offer an array of services that quad copters and other such drones can accomplish easily. Some examples include but are not limited to:
  </p>
  <ul class="drone" id="div1info">
    <li>Majestic Aerial Video, who offer photos and videos taken by a drone.</li>
  </ul>
  <ul class="drone" id="div1info">
    <li>Amazon’s Prime Air, which is to be put to use in the future, offers a faster way to
      deliver packages using an unmanned drone.</li>
  </ul>
  <ul class="drone" id="div1info">
    <li> A company named Fly4Me has opened its services offering different types of information
      largely available through the use of drones. The services offered include, personalized videos, mapping, inspections and
      disaster relief.</li>
  </ul>
</div>