
<div class="satellite"></div>
<div class="weather"></div>

<div class="container" id="nopadding">
  <p>
    <%= image_tag "quadcopter 2.png", class: "tempimg1" %>
     Nowadays UAS drones come in different models; multi-rotor, planes, hybrids. Each of these with an almost infinite amount of designs and uses.
    Some of the more notable uses of drones are delivering medical supplies to inaccessible areas, surveying of land / crops, and inspecting utility lines.
    Giving drones very a very high standing in both industrial and recreational uses making it a booming market.
    <%= image_tag "quadcopter1.png", class: "tempimg2" %> The most popular of these UAS drones are the quadcopter's which come in many different shapes and sizes. Many of these
    quadcopters are cheap and affordable and easy to use making them a prim etarget for up and coming businesses who have just started out and need
    a company vehicle. Drones are mainly used for fun, photography, science, surveillance, and even to start up new businesses.
    The sky is the limit.

  </p>
</div>
<div class="division1">
  <%= image_tag "amazon drone-y drone.png", class: "tempimg"%>
  <h1 class="inline" id="div1">Commercial</h1>
  <p id="div1info">
    Many companies are starting to offer an array of services that quad copters and other such drones can accomplish easily. Some examples include but are not limited to:
  </p>
  <ul class="drone" id="div1info">
    <li>Majestic Aerial Video, who offer photos and videos taken by a drone.</li>
  </ul>
  <ul class="drone" id="div1info">
    <li>Amazon’s Prime Air, which is to be put to use in the future, offers a faster way to
      deliver packages using an unmanned drone.</li>
  </ul>
  <ul class="drone" id="div1info">
  <li> A company named Fly4Me has opened its services offering different types of information
    largely available through the use of drones. The services offered include, personalized videos, mapping, inspections and
    disaster relief.</li>
   </ul>
</div>
<div class="container" id="nopadding">
  <center><h1>Education</h1></center>
  <p>
    In the Educational Field drones allow for more versatility in many different school projects and programs. It allows for mapping, and gathering data of places that
    otherwise are inhospitable such as rainforest canopies and lava flows. It allows for people to study wildlife from a distance without getting hurt, as well as
    archaeological and architectural mapping. As well drones themselves form a variety of different teaching opportunities from aerospace engineering , to mechanical engineering
    from the actual construction and aerodynamics of the drone that you will use, i.e quadcopter, hexacopter. Programming is also taught  when you try to make the drone move,
    be it autonomously or with a controller.

    Science fiction films have always inspired people to improve technolgy, UAS drones are now a controversial topic, which has lead some to think about possible
    future applications of this technology. Some of these applications include drones that report news autonomously, drones that monitor building and construction,
    and as sports start becoming more technological, maybe even drone racing. Nobody can know for sure what the future hold for UAS drones, but what can be
    accurately guessed it that this movement towards UAS drones is going to be a very powerful one.

    Although drones are being used for recreational purposes there are some that have a more demanding job. If there's one thing that science has taught us it is to
    pay extreme attention to detail. These drones have jobs such as monitoring nuclear waste, analyzing volcanic eruptions, and observing climate change.
    This research will definitely help scientists better understand the world we live in. It should also give engineers information to improve current
    STEAM (Science Technology Engineering Arts Mathematics) industries and maybe even spring new start-ups to give us some new future technology.
  </p>
</div>
<div class="division1">
  <%= image_tag "temp.png", class: "tempimg"%>
  <h1 class="inline" id="white">Near future uses of UAS technology.</h1>
  <p class="text1" id="white">UAS technology might seem to be at a very high point, but UAS/Drones technology is still evolving.Two examples UAS technology
    that might be more widely used in the near future are crop survey UAS and wifi drones.
  </p>
  <p class="text1" id="white">Crop survey UAS are used to check crops and efficiently apply pesticides so that the whole field doesn't needs to sprayed and
    only a small section needs to be tended to reducing pollution through run off. As for the case of Wifi drones, drone technology that will fly
    over areas needing local wifi or internet access can come in the near future allowing remote area such as remote camps have access to the
    huge resource of knowledge and communication capabilities of the internet.
  </p>
</div>
<div class="container">
    <h1>Fear of UAS technology</h1>
      <p>
        Although UAS technology might seem like a very helpful and Entertaining resource many people point out flaws
        and fear tied and weighing down UAS Technology .Most fears are associated to one primary theme invasion of privacy.
      </p>
      <ul>
          <li>The fear of being videotaped unknowingly. </li>
        </ul>
        <ul>
            <li>invasion of property and property damage.</li>
          </ul>
          <ul>
              <li>Harm done to humans through drones.</li>
            </ul>
      <p>Many people fear the that they will be spied on or will be harmed do to the versatility and how easy it is to get
        a drone mainly one with a camera. many also have a fear of the drones being weaponized,but that fear is not as great
        as invasion of privacy or property due to many laws being passed to regulate what a drone can do. Due to the fears
        bought by drone it is now mandatory you buy a $5 license for your drone ,it might not be expensive but it tracks and
        checks the drone and what it’s being used for.
      </p>
  <center>
    <iframe class="video" src = "https://www.youtube.com/embed/kPGO3AQ-z5w" allowfullscreen></iframe>
  </center>
      <h1>Fear of the UAS users</h1>
        <p> The fears of the consumers have lead to companies and enthusiast of drones , to gain their own fears such as :
        </p>
        <ul>
          <li>Damage their drones.</li>
          </ul>
          <ul>
              <li>Government regulation of UAS technology.</li>
            </ul>
        <p> Many companies and enthusiasts fear that their drones will be shot down or damaged do to people thinking
          that they are being spied on or think they will be harmed. Causing companies and UAS enthusiast have to be cautious about what they
          do with their drones so they won't cause any uproar. They fear that an uproar can cause a branch or type of drone will be banned or
          be controlled by the government.
        </p>

</div>







