
<div class="predator"></div>
<div class="satellite"></div>
<div class="weather"></div>

<div class="container" id="nopadding">
  <p>
    <%= image_tag "quadcopter 2.png", class: "tempimg1"%>
     Nowadays UAS drones come in different models; multi-rotor, planes, hybrids. Each of these with an almost infinite amount of designs and uses.
    Some of the more notable uses of drones are delivering medical supplies to inaccessible areas, surveying of land / crops, and inspecting utility lines.
    Giving drones very a very high standing in both industrial and recreational uses making it a booming market.
    <%= image_tag "quadcopter 1.png", class: "tempimg1"%> The most popular of these UAS drones are the quadcopter's which come in many different shapes and sizes. Many of these
    quadcopters are cheap and affordable and easy to use making them a prim etarget for up and coming businesses who have just started out and need
    a company vehicle. Drones are mainly used for fun, photography, science, surveillance, and even to start up new businesses.
    The sky is the limit.

  </p>
</div>
<div class="division1">
  <%= image_tag "amazon drone-y drone.jpg", class: "tempimg"%>
  <h1 class="inline" id="div1">Commercial</h1>
  <p id="div1info">
    Many companies are starting to offer an array of services that quad copters and other such drones can accomplish easily. Some examples include but are not limited to:
  </p>
  <ul class="drone" id="div1info">
    <li>Majestic Aerial Video, who offer photos and videos taken by a drone.</li>
  </ul>
  <ul class="drone" id="div1info">
    <li>Amazon’s Prime Air, which is to be put to use in the future, offers a faster way to
      deliver packages using an unmanned drone.</li>
  </ul>
  <ul class="drone" id="div1info">
  <li> A company named Fly4Me has opened its services offering different types of information
    largely available through the use of drones. The services offered include, personalized videos, mapping, inspections and
    disaster relief.</li>
   </ul>
</div>
<div class="container" id="nopadding">
  <p>
    In the Educational Field drones allow for more versatility in many different school projects and programs. It allows for mapping, and gathering data of places that
    otherwise are inhospitable such as rainforest canopies and lava flows. It allows for people to study wildlife from a distance without getting hurt, as well as
    archaeological and architectural mapping. As well drones themselves form a variety of different teaching opportunities from aerospace engineering , to mechanical engineering
    from the actual construction and aerodynamics of the drone that you will use, i.e quadcopter, hexacopter. Programming is also taught  when you try to make the drone move,
    be it autonomously or with a controller.

    Science fiction films have always inspired people to improve technolgy, UAS drones are now a controversial topic, which has lead some to think about possible
    future applications of this technology. Some of these applications include drones that report news autonomously, drones that monitor building and construction,
    and as sports start becoming more technological, maybe even drone racing. Nobody can know for sure what the future hold for UAS drones, but what can be
    accurately guessed it that this movement towards UAS drones is going to be a very powerful one.
  </p>
</div>
<div class="division1">
  <%= image_tag "temp.png", class: "tempimg"%>
  <h1 class="inline" id="div1">Commercial</h1>
  <p id="div1info">
    Many companies are starting to offer an array of services that quad copters and other such drones can accomplish easily. Some examples include but are not limited to:
  </p>
  <ul class="drone" id="div1info">
    <li>Majestic Aerial Video, who offer photos and videos taken by a drone.</li>
  </ul>
  <ul class="drone" id="div1info">
    <li>Amazon’s Prime Air, which is to be put to use in the future, offers a faster way to
      deliver packages using an unmanned drone.</li>
  </ul>
  <ul class="drone" id="div1info">
    <li> A company named Fly4Me has opened its services offering different types of information
      largely available through the use of drones. The services offered include, personalized videos, mapping, inspections and
      disaster relief.</li>
  </ul>
</div>