<p>
  Nowadays UAS drones come in different models; multi-rotor, planes, hybrids. Each of these with an almost infinite amount of designs and uses.
  Some of the more notable uses of drones are delivering medical supplies to inaccessible areas, surveying of land / crops, and inspecting utility lines.
  However with the growing demand for recreational drones, some people are concerned with the dangers of UAS technology. For example some people are
  scared of being stalked by a drone or not having privacy because of drones, some others are concerned about physical damages that may be inflicted by
  a drone. However because of new regulations being made by the FAA (Federal Aviation Administration) very soon drones will be practical in peoples daily lives.
</p>