<p>
  Although drones are being used for recreational purposes there are some that have a more demanding job. If there's one thing that science has taught us it is to
  pay extreme attention to detail. These drones have jobs such as monitoring nuclear waste, analyzing volcanic eruptions, and observing climate change.
  This research will definitely help scientists better understand the world we live in. It should also give engineers information to improve current
  STEAM (Science Technology Engineering Arts Mathematics) industries and maybe even spring new start-ups to give us some new future technology.
</p>